{% extends 'words/base.html' %}

{% block content %}

<div class="container mt-4">
    <div class="row justify-content-center text-center">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6">
            <div class="card p-3 my-block text-white">
                <h3>{{ word.word }}</h3>
                <form method="post" class="mt-3">
                    {% csrf_token %}
                    <label for="translation" class="form-label">Translation:</label>
                    <input type="text" name="translation" id="translation"
                           value="{{ quickcard.translation }}" class="form-control mb-3">
                    <button type="submit" name="save_translation" class="btn my-block color-text-word mb-3">Save translation</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}